body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

.button-group{
    position: absolute;
    left: 40px;
    top: 20%;
}

.button-group button {
    display: block;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(79, 79, 79, 0.77);
    color: #fff;
    cursor: pointer;
}